html {
    background-color: aliceblue;
}

body {
    --text-color: chocolate;
    color: var(--text-color);
    padding: .325rem;
    font-family: "news-gothic-std", sans-serif;
    line-height: 1.5;
    margin: 1rem;
    max-width: 750px;
    margin: auto;
}

h1 {
    transform: scaleY(1.5);
    font-size: 3rem;

}

a {
  color: #00e;
  text-decoration: none;
}

h1 > a {
    border-bottom: 4px solid;
}

p {
    margin: 0;
    margin-bottom: .5rem;
}

main {
    max-width: 90vw;
    margin: auto;
    margin-bottom: 4rem;
}

hr {
    border-style: none;
/*    border: 3px solid var(--text-color);*/
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: var(--text-color);
    font-weight: 900;
    font-size: 1.5rem;
    text-align: center;
}

hr:after {
    content: "* * *";
}

header {
    margin-bottom: 2rem;
    text-align: center;

}


header h1 {
    text-align: right;
}

footer {
    padding: .25rem;
    margin-top: 1rem;
    text-align: left;
}

#header-img {
    border: 1px solid black;
    border-radius: 75px;
}

.link {
    background-color: white;
    border-radius: 2rem;
    border: 2pt solid black;
    padding: 1rem;
    text-align: center;
    box-shadow: 10px 10px 0px 0px black;
    position: relative;
    width: fit-content;
    margin: auto;
}

.link p:has(> img) {
    max-width: 80vw;
    max-height: 40vh;
    width: fit-content;

}

.link:hover {
    cursor: pointer;
    border: 2pt solid black;
    transform: translate(5px, 5px);
    box-shadow: 5px 5px 0px 0px black;
}

.link:not(:last-child) {
    margin-bottom: 2rem;
}

.link img { 
    max-width: 90vw;
    max-height: 40vh;
    border: 1px solid black;
    border-radius: 1rem;
}

