body {
  font-family: "news-gothic-std", sans-serif;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
  max-width: fit-content;
  margin: auto;
}

header {
    margin-bottom: 2rem;
    text-align: center;

}

footer {
    padding: .25rem;
    margin-top: 1rem;
    text-align: left;
}

a {
  color: #00e;
  text-decoration: none;
}

hr {
  border-style: none;
  border-bottom: 3px solid #d26b04;
}
